@import "../shared/styles/shared";

div {

  &.header {
    border-bottom: solid 2px black;
  }
}

a {
  color: black;
  text-decoration: none;

  &.logo {
    padding: 0px 33px;
    width: 149px;
    height: 31px;

    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
  }

  &.menuItem {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;

    padding: 0px 40px;
  }
}

