div {
  padding: 16px 0px;
  display: flex;
}

.logo {
  padding: 0px 53px;
  width: 149px;
  height: 31px;
  //position: absolute;
  //left: 53px;
  //top: 16px;

  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;

  color: black;
  text-decoration: none;
}

.menu {
  position: fixed;
  right: 53px;
  top: 16px;
  transform: scale(1.5);

  border: none;
  background: none;
}

.list {
  position: fixed;
  right: 53px;
  top: 62px;
  background-color: white;
}

.listItem {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 58px;
  color: black;

  border: 1px solid black;
}

.line {
  position: absolute;
  width: 100%;
  height: 0px;
  top: 54px;
  border: 1px solid black;
}

