@import "../../../shared/styles/shared";

form {
  width: 50%;

  mat-form-field {
    width: 100%;
  }

  mat-label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    padding: 10px;
  }

  input, textarea {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    padding: 10px;
    border-radius: 10px;
    width: 95%;

    //&:read-only {
    //  background: lightgrey;
    //}
  }
}
