<div class="m20h p20h">
  <form [formGroup]="productDetailsForm" (ngSubmit)="onSubmit()">
    <div>
      <mat-form-field appearance="fill">
        <mat-label for="name">Name: </mat-label>
        <input matInput id="name" type="text" formControlName="name" [readonly]="!isEditable" required>
        <mat-error *ngIf="productDetailsForm.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label for="description">Description: </mat-label>
        <textarea matInput id="description" type="text" formControlName="description" [readonly]="!isEditable" required></textarea>
      </mat-form-field>
      </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label for="price">Price: </mat-label>
        <input matInput id="price" type="number" formControlName="price" [readonly]="!isEditable" required>
      </mat-form-field>
      </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label for="count">Count: </mat-label>
        <input matInput id="count" type="number" formControlName="count" [readonly]="!isEditable" required>
      </mat-form-field>
      </div>
    <div>
      <p>* - required fields</p>
    </div>
    <div *ngIf="!isEditable">
      <button class="orange" (click)="toggleEdit()">Edit</button>
    </div>
    <div *ngIf="isEditable">
      <button class="orange" (click)="onCancel()">Cancel</button>
      <button class="orange" type="submit" [disabled]="">Save changes</button>
    </div>
  </form>
</div>

