button.back {
  background: none;
  border: none;
  cursor: pointer;
  margin: 20px 43px;
}

.mat-icon {
  transform: scale(2);
  color: black;
  padding: 10px 10px;
}

h1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  display: flex;
  padding: 0px 20px;
  margin: 20px;

}
