<div>
  <div class="w50">
    <h1>Products</h1>
  </div>
  <div class="w50 jc">
    <button class="orange" (click)="newProduct()">Add product</button>
    <button class="m20h"><mat-icon>view_comfy</mat-icon></button>
    <button class="m20h"><mat-icon>view_list</mat-icon></button>
  </div>
</div>

<div class="jc">
  <table mat-table [dataSource]="products$ | async">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let product">{{product.name}}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let product">{{product.description}}</td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Price</th>
      <td mat-cell *matCellDef="let product">{{product.price}}$</td>
    </ng-container>

    <ng-container matColumnDef="count">
      <th mat-header-cell *matHeaderCellDef>Count</th>
      <td mat-cell *matCellDef="let product">{{product.count}}</td>
    </ng-container>

    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef>Total</th>
      <td mat-cell *matCellDef="let product">{{product.price*product.count}}$</td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let product">
        <button (click)="deleteProduct(product.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let product">
        <button (click)="goDetails(product.id)">
          <mat-icon>arrow_right_alt</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="totalSum1">
      <td mat-footer-cell *matFooterCellDef colspan="6">Total:</td>
    </ng-container>
    <ng-container matColumnDef="totalSum2">
      <td mat-footer-cell *matFooterCellDef style="text-align: center">{{getTotalSum()}}$</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedFooter"></tr>
  </table>
</div>


